/* General Styles */
#projects {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 220vh;
    /* height: 500px; */
}

.bg-line-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.bg-line-box {
    width: 20%;
    border-right: 0.5px solid var(--background-two-color);
    border-bottom: 0.5px solid var(--background-two-color);
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.bg-line-box-end {
    width: 20%;
    border-bottom: 0.5px solid var(--background-two-color);
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}

/* Projects Section */
.projects-section {
    position: absolute;
    z-index: 2;
    top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.project-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.portfolio-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 0px;
    margin-bottom: 0px;
    gap: 10px;
}

/* Project Card Styles */
.project-card {
    width: 40%;
    height: 285px;
    margin-bottom: 30px;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    transition: all 0.3s ease;
}

.project-card:hover .overlay {
    opacity: 0.9;
}

.project-card .text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    z-index: 3;
    opacity: 0;
    transition: all 0.3s ease;
}

.project-card:hover .text {
    opacity: 1;
}

.project-card .text h3 {
    font-size: 20px;
    margin: 0;
}

.project-card .text h3 a {
    color: #fff;
    text-decoration: none;
}

.project-card .text span {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;
}

/* Specific Styles for Project Images */
.project-img-one {
    /* background-image: url('../img/project-3.jpg'); */
    width: 60%;
    background-color: var(--background-two-card-color);
}

.project-img-two {
    /* background-image: url('../img/project-5.jpg'); */
    width: 37.5%;
    background-color: var(--background-two-card-color);
}

.project-img-one:hover {
    background-image: url('../img/project-3.jpg');
}
.project-img-two:hover {
    background-image: url('../img/project-5.jpg');
}

.project-img-one .text h3,
.project-img-two .text h3 {
    font-size: 22px;
    color: var(--icon-color);
}

.project-img-one .text,
.project-img-two .text {
    max-width: 45%;
    z-index: 1;
    padding: 20px;
}

.project-img-one .text h3 a,
.project-img-two .text h3 a {
    color: var(--icon-color);
}

.project-img-one .text span,
.project-img-two .text span {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Responsive Styles */
@media (max-width: 767.98px) {
    .project-img {
        height: 285px;
    }

    .project-img .text {
        max-width: 100%;
        opacity: 1;
    }

    .project-img .text span {
        color: rgba(255, 255, 255, 0.8);
    }

    .project-card .overlay {
        opacity: 0.2;
    }

    .project-card .text {
        opacity: 1;
    }

    .project-card .text span {
        color: rgba(255, 255, 255, 0.8);
    }
}

/* Hire Me Section */
#freelance {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
}

.hire-me-container {
    height: 200px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding-left: 20px;
}

.text-container p {
    color: var(--text-paragraph-color);
}

.hire-me-btn {
    border: 2px solid var(--footer-bg-color);
    padding: 10px;
    border-radius: 15px;
    color: var(--secondary-color);
}

.hire-me-btn:hover {
    border: 2px solid var(--text-color);
}


@media (max-width: 991.98px) {
    .portfolio-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 80% !important;
    }

    .project-img-one, 
    .project-img-two {
        width: 100% !important;
    }

    .project-img-one .text,
    .project-img-two .text {
        max-width: 100%;
        padding: 15px;
        text-align: center;
    }
}
