@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

:root {
  --primary-color: #40A2D8;
  --secondary-color: #f0f0f0;
  /* #f0edcf */
  --text-color: #FF6500;
  --text-bold-color: #000000;
  --text-paragraph-color: #fffaf0;
  --text-heading-card-color: #2c3e50;
  --pre-text-color: #14181c;
  /* --background-color: #0B60B0; */
  --background-color: #000000;
  --background-two-color: #1e3e62;
  --background-thr-color: #0b192c;
  --background-card-color: rgba(255, 255, 255, 0.1);
  --icon-color: #ffbd39;
  --section-bg-color: #EFF3C6;
  ;
  --on-hover-color: #FF6500;
  --footer-bg-color: #212121;
  --footer-text-color: #f0f0f0;

  --other-color: #0779E4;
}

:root {
  --main-font: 'Poppins', sans-serif;
}


body {
  font-family: var(--main-font);
  color: #272829;
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(to left, rgb(65, 20, 155), rgb(52, 22, 143)); */
  background-color: var(--background-color);
}

/* Prevent horizontal scrolling */
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: var(--pre-text-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: var(--text-color);
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--background-color);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: var(--secondary-color);
  line-height: 0;
}

.back-to-top:hover {
  background: var(--on-hover-color);
  color: var(--secondary-color);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--secondary-color);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--background-color);
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: var(--secondary-color);
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 991px) {
  #main {
    margin-left: 100px;
  }
}


/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: var(--secondary-color);
  background-color: var(--background-color);
}

.nav-link svg {
  margin-right: 8px;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

.section-tag {
  padding: 200px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--background-color);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
/* About Section Styling */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: var(--background-color);
}

#about .content-section {
  background-color: var(--background-color);
}

#about .container {
  gap: 10px;
}

.about-btn-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: auto;
}

.section-header {
  max-width: 800px;
  margin-bottom: 30px;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  color: var(--text-color);
  /* margin-bottom: 10px; */
  padding: 0;
  margin: 0px 20px 20px 20px;
}

.about-paragraph {
  font-size: 18px;
  color: var(--text-heading-card-color);
  line-height: 1.6;
  text-align: justify;
}

#about b {
  font-weight: bold;
  color: var(--text-heading-card-color);
}

#about p {
  color: var(--secondary-color);
}

#about p {
  color: var(--secondary-color);
}


.wrapper {
  position: relative;
  width: 100%;
  /* height: auto; */
  background-color: var(--secondary-color);
  margin: 0px;
  overflow: visible;
  /* allow content to overflow if needed */
  padding-bottom: 270px;
}

/* Lower layer */
.base-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--background-color);
  width: 100%;
  padding: 20px;
  color: var(--secondary-color);
  z-index: 1;
  border-radius: 15px;
  border: 1.5px solid var(--background-two-color)
}

/* Upper layer */
.top-box {
  position: absolute;
  top: 260px;
  /* margin from top of wrapper */
  left: 85px;
  /* margin from left of wrapper */
  /* bottom: 100px; */
  background-color: var(--background-color);
  width: 80%;
  color: var(--secondary-color);
  padding: 20px;
  z-index: 2;
  pointer-events: auto;
  /* allow interaction */
  border-radius: 15px;
  border-color: #000000;
  border: 1.5px solid var(--background-two-color);
  /* border-top: 2px solid blue;
  border-right: 2px dotted green;
  border-bottom: 2px dashed orange;
  border-left: 2px solid gray; */
}

.middle-box {
  position: absolute;
  top: 250px;
  /* margin from top of wrapper */
  left: 75px;
  /* margin from left of wrapper */
  /* bottom: 100px; */
  background-color: var(--background-color);
  width: 82%;
  color: var(--background-color);
  padding: 20px;
  z-index: 2;
  pointer-events: auto;
  /* allow interaction */
  border-radius: 15px;
  border-color: #000000;
  border: 2.5px solid var(--background-color);
  height: 300px;
}

/* Flex container for text and image */
.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 100%;
}

/* About text */
.about-text {
  max-width: 500px;
  text-align: left;
  font-size: 18px;
  color: var(--secondary-color);
}

.about-text p {
  text-align: justify;
}

/* Profile Image */
.about-image {
  flex-shrink: 0;
}

.img-about {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 1px solid var(--background-color);
  object-fit: cover;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.img-about:hover {
  border: 1px solid var(--icon-color);
}

/* Download Resume Button */
.download-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 15px;
  padding: 12px 20px;
  background-color: var(--background-color);
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: var(--on-hover-color);
  color: var(--background-color);
}

.call-to-action-btn {
  margin-top: 15px;
  padding: 10px;
  /* height: 60px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 5px; */
  padding-left: 10px;
  border: 2px solid var(--footer-bg-color);
  /* padding: 10px; */
  border-radius: 15px;
  color: var(--secondary-color);
}
.call-to-action-btn:hover {
  border: 2px solid var(--text-color);
}

/* .call-to-action-btn:hover {
  border: 1px solid var(--icon-color);
} */

.typewriter-text {
  color: var(--background-two-color);
  font-size: 2em;
  display: flex;
  justify-content: left;
  align-items: start;
}
