.section-header {
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
}

.section-header h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.section-header p {
    font-size: 18px;
    font-weight: 300;
    color: var(--text-paragraph-color);
}




.heading-section {
    position: relative;
    /* margin-top: 100px; */
}

.heading-section .subheading {
    font-size: 13px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;
}

.heading-section h1.big {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    font-weight: 900;
}

.heading-section .section-title {
    position: relative;
    z-index: 2;
}

.heading-section h1.big.big-2 {
    right: 0;
    /* margin-bottom: 50px; */
    position: absolute;
    z-index: 1;
    top: 0px;
}
